* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
}

.container {
  display: flex;
  width: 500px;
  height: 300px;
  align-items: center;
  justify-content: space-around;
}

.container .row {
  display: block;
}

.container .row button {
  position: relative;
  display: block;
  height: 55px;
  width: 150px;
  margin: 40px 0;

  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;

  transition: all 0s ease-out;
}

.row button span {
  position: absolute;
  height: 55px;
  width: 60px;
  top: 0;
  left: -61px;
  line-height: 55px;
  font-size: 25px;
  font-weight: normal;

  display: block;

  border-radius: 5px 0 0 5px;
}

.container .row button:active {
  top: 3px;
  /* box-shadow: 0px 2px 0px 0px; */
}

.container .row button:active span {
  top: -3px;
}

.row button.facebook,
.row button.facebook span {
  background: #3b5999;
  border-left: 1px solid #2e4476;
  box-shadow: 0px 5px 0px 0px #2e4476;
}
.row button.facebook:active span {
  box-shadow: 0px 5px 0px 0px #2e4476, 6px 4px 2px rgba(0, 0, 0, 0.3);
}

.row button.twitter,
.row button.twitter span {
  background: #46c1f6;
  border-left: 1px solid #269bd0;
  box-shadow: 0px 5px 0px 0px #269bd0;
}
.row button.twitter:active span {
  box-shadow: 0px 5px 0px 0px #269bd0, 6px 4px 2px rgba(0, 0, 0, 0.3);
}

.row button.instagram,
.row button.instagram span {
  background: #e1306c;
  border-left: 1px solid #c91d56;
  box-shadow: 0px 5px 0px 0px #c91d56;
}
.row button.instagram:active span {
  box-shadow: 0px 5px 0px 0px #c91d56, 6px 4px 2px rgba(0, 0, 0, 0.3);
}

.row button.youtube,
.row button.youtube span {
  background: #de463b;
  border-left: 1px solid #c02b21;
  box-shadow: 0px 5px 0px 0px #c02b21;
}
.row button.youtube:active span {
  box-shadow: 0px 5px 0px 0px #c02b21, 6px 4px 2px rgba(0, 0, 0, 0.3);
}

/* ejemplo */
.container .row button.facebook:active {
  box-shadow: 0px 2px 0px 0px #2e4476;
}
.container .row button.twitter:active {
  box-shadow: 0px 2px 0px 0px #269bd0;
}
.container .row button.instagram:active {
  box-shadow: 0px 2px 0px 0px #c91d56;
}
.container .row button.youtube:active {
  box-shadow: 0px 2px 0px 0px #c02b21;
}
/* ejemplo */
