* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background: #0079d7;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .text {
    position: absolute;
    color: #fff;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.container .wrapper {
    position: absolute;
    top: -35px;
    /*border: 2px solid red;*/
}


.container .wrapper .loader {
    height: 50px;
    width: 50px;
    left: -25px;
    position: absolute;
    animation: rotate 3.5s linear infinite;
}

.container .wrapper .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    background: #fff;
}

/* loader animation rotate */
@keyframes rotate {
    30% {
        transform: rotate(220deg);
        /* loader rota */
    }

    40% {
        transform: rotate(450deg);
        /* loader rota mas rapido */
    }

    75% {
        transform: rotate(720deg);
        /* loader rota mas y mas rapido */
        opacity: 1;
    }

    76% {
        opacity: 0;
        /* loader desaparece */
    }

    100% {
        transform: rotate(0deg);
        /* loader rota al inicio*/
        opacity: 0;
        /* loader se mantiene invisible hasta llegar al inicio */
    }
}

/* loader animation clones delay */
.container .loader:nth-child(1) {
    animation-delay: 0.15s;
}

.container .loader:nth-child(2) {
    animation-delay: 0.3s;
}

.container .loader:nth-child(3) {
    animation-delay: 0.45s;
}

.container .loader:nth-child(4) {
    animation-delay: 0.6;
}

.container .wrapper .dot:nth-child(5) {
    animation-delay: 0.75s;
}

.container .loader:nth-child(6) {
    animation-delay: 0.9;
}